# We'll use defaults from the LLVM style, but with 4 columns indentation.
BasedOnStyle: Google
IndentWidth: 4
---
Language: Cpp
DerivePointerAlignment: false
PointerAlignment: Left

SpacesInLineCommentPrefix:
  Maximum: -1
  Minimum: 1

IncludeBlocks: Regroup

AccessModifierOffset: -2